#heading {
    text-align: center;
}
#box {
    text-align: center;
}
#grid {
    border: 2px solid black;	
    display: inline-flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    height: 600px;
}

.slider_container {
    display: inline-block;
}
.row {
    display: flex;
}
.cell {
    background-color: black;
    opacity: 0%;
}

